
body {
    font-family: "Silkscreen", sans-serif;
}

.init-box {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(241, 204, 255);
    height: 100vh;
}

.envelope {
    width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.envelope:hover {
    transform: scale(1.1);
}

.valentine-q {
    font-family: "pixel";
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

button {
    border: none;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

#yes {
    background-color: green;
    color: white;
}

#yes:hover {
    background-color: darkgreen;
}

.no-button-box{
    margin-right: 10%;
}

#no {
    position: absolute;
    transition: 0.5s;
    background-color: red;
    color: white;
}

#spot-player {
    opacity: 0;
    transition: 2s;
    margin: 20px 20% 0 20%;
}